<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" style="margin-top: 100px">
  <div style="margin-left: 200px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Subject of your conversation is <%= @conversation.subject %>
                </div>
            <div>
                <div class="panel-body">
                    <ul class="chat">
                    <% @conversation.receipts_for(current_user).each do |receipt| %>
                    <% message = receipt.message %>
                        <% if current_user.name == message.sender.name%>
                        <li class="left clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">
                                      <font color="blue">You</font>
                                    </strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></small>
                                </div>
                                <p>
                                    <%= message.body %>
                                </p>
                            </div>
                        </li>
                        <% else %>
                        <li class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">
                                      <%= message.sender.name %>
                                    </strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span><%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></small>
                                </div>
                                <p>
                                    <%= message.body %>
                                </p>
                            </div>
                        </li>
                        <% end %>
                      <% end %>
                    </ul>
                </div>
                <div class="panel-footer">
                <%= form_tag reply_conversation_path(@conversation), method: :post do %>
                    <div class="input-group">
                    <div class="col-sm-12">
                    <div class="form-group">
                      <%= text_area_tag 'body', nil, cols: 12, placeholder: 'Type something...', required: true %>
                    </div>
                      <%= submit_tag "Send Message", class: 'btn btn-primary' %>
                    </div>
                </div>
                <% end %>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<div style="margin-left: 200px" align="center">
           <%= link_to conversations_path do %>
            Go Back To Your Messages
           <% end %>
  </div>
</div>