<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head> -->

<div class="grp-parent">
  Your College Group is <strong>
    <%= @group.name %></strong>. Members in your group are :
  <div class="grp-main-content">

    <div class="grp-feed">
      <% @group.users.each do |user| %>
      <div class="grp-feed-child">
        <a href=<%=user.linkedin%>>
          <%= user.name %></a>
        <p>
          <%= user.email %>
        </p>
        <p>
          <%= user.graduation %>
        </p>
        <p>
          <%= user.branch %>
        </p>
        <p>
          <%= user.company %>
        </p>
      </div>
      <% end %>
    </div>
  </div>

</div>