<% if user_signed_in? %>
<li>
  <%= render 'layouts/navigation' %>
</li>
<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <%= render 'pages/index/side_menu' %>
    <%= render 'pages/index/main_content' %>
  </div><!-- row -->
</div><!-- container -->
<% else %>
<%= react_component("LandingIndex") %>
<!-- <li>
  <%= link_to 'Login', login_path  %>
</li>
<li>
  <%= link_to 'Signup', signup_path %>
</li> -->
<% end %>