<div id="side-menu">
    <div class="home-img-div">
        <%= link_to hobby_posts_path do %>
        <%=  image_tag ("Linkedin.png"), class: "home-logo-img"%>
        <% end %>
    </div>

    <div id="sidemenu-pic">
        <div>
            <div class="pic-div">
                <%= image_tag(current_user.dp.thumb.url, alt: 'Image', class:'profile-pic-img') if current_user.dp? %>
            </div>
            <p><span id="user-name">
                    <a href=<%=current_user.linkedin%>>
                        <%= current_user.name %></a>
                </span>
            </p>
        </div>
    </div>

    <ul id="links-list">
        <li>
            <%= link_to edit_user_registration_path do%>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>Edit Profile
            <% end %>
        </li>
        <li id="hobby">
            <%= link_to hobby_posts_path do %>
            <i class="fa fa-calendar" aria-hidden="true"></i> Events
            <% end %>
        </li>

        <li id="study">
            <%= link_to study_posts_path do %>
            <i class="fa fa-graduation-cap" aria-hidden="true"></i> Jobs/Internships
            <% end %>
        </li>

        <li id="team">
            <%= link_to groups_path do %>
            <i class="fa fa-users" aria-hidden="true"></i> Group Members
            <% end %>
        </li>
        <li>
           <%= link_to conversations_path do %>
           <i class="fa fa-inbox" aria-hidden="true"></i> Your Messages
           <% end %>
        </li>
        <% if current_user.admin == true %>
        <li id="Admin Dashboard">
            <%= link_to rails_admin_path do%>
            <i class="fa fa-sign-out" aria-hidden="true"></i> Admin dashboard
            <% end %>
        </li>
        <% end %>
        <li id="logout">
            <%= link_to destroy_user_session_path, method: :delete do%>
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            <% end %>
        </li>
    </ul>
</div>