<div class="branch-main-content">
    <div class="branch-search-bar">
        <%= render 'posts/branch/search_form',
                            branch: branch,
                            search_placeholder: search_placeholder %>
        <%= render 'posts/branch/create_new_post', branch: branch %>

    </div>

    <div>
        <div>
            <h1 class="page-title">
                <%= page_title %>
            </h1>
        </div><!-- row -->

        <div>
            <%= render 'posts/branch/categories', branch: branch %>
        </div>

        <div>
            <div id="feed">
                <%= render @posts %>
            </div>
        </div><!-- row -->

        <div class="infinite-scroll">
            <%= will_paginate @posts %>
        </div>

    </div>
</div>