<div class="branch-main-content">
    <div class="branch-search-bar">

        <%= render 'posts/branch/search_form',
                            branch: branch,
                            search_placeholder: search_placeholder %>
        <%= render 'posts/branch/create_new_post', branch: branch %>

    </div>

    <div class="branch-posts-bar">
        <!-- <h1 class="page-title">
            <%= page_title %>
        </h1> -->
        <div>
            <%= render 'posts/branch/categories', branch: branch %>
        </div>


        <div id="feed">
            <% @posts.each do |post| %>
            <div id="feed-child">
                <p>
                    <span class="feed-child-venue">Posted by:</span>
                    <%= post.user.name %>
                </p>
                <p class="feed-child-title">
                    <%= post.title %>
                </p>
                <p>
                    <%= post.content %>
                </p>

                <% if post.image? %>
                <%=link_to( image_tag(post.image.url, alt: 'Image', class: 'image-uploaded image-center'), post.rel_link, remote: true) %>
                <% else %>
                <p>
                    <%= link_to "Link to the website", post.rel_link, remote: true %>
                </p>
                <% end %>

                <!-- <%= image_tag(post.image.url, alt: 'Image', class: 'image-uploaded image-center') if post.image? %> -->
                <p>
                    <span class="feed-child-venue">Date:</span>
                    <%= post.deadline %>
                </p>
                <p>
                    <span class="feed-child-venue">Venue:</span>
                    <%= post.venue %>
                </p>

                <%= link_to "I'm interested", post_path(post.id), class: 'interested' %>
            </div>
            <% end %>
        </div>

        <div class="infinite-scroll">
            <%= will_paginate @posts %>
        </div>

    </div>
</div>