<div class="branch-main-content">
    <div class="branch-search-bar">

        <%= render 'posts/branch/search_form',
                            branch: branch,
                            search_placeholder: search_placeholder %>
        <%= render 'posts/branch/create_new_post', branch: branch %>

    </div>
 <div class="branch-posts-bar">
        <!-- <h1 class="page-title">
            <%= page_title %>
        </h1> -->
        <div>
            <%= render 'posts/branch/categories', branch: branch %>
        </div>


        <div id="feed">
            <% @posts.each do |post| %>
            <div id="feed-child">
                <p class="feed-child-head">
                    <span class="feed-child-name">Posted by:
                        <%= post.user.name %></span>


                    <a href="https://calendar.google.com/calendar/r/eventedit?
                                    text=My+Custom+Event&
                                    dates=20180512T230000Z/20180513T030000Z&
                                    details=Add Description here
                                    &location=MyLocation">
                        <%=  image_tag ("calendar.jpg"), class: "cal-pic"%>
                    </a>
                </p>
                <p class="feed-child-title">
                    <%= post.title %>
                </p>
                <p>
                    <%= post.content %>
                </p>

                <% if post.image? && post.rel_link? %>
                <%=link_to( image_tag(post.image.url, alt: 'Image', class: 'image-uploaded image-center'), post.rel_link, remote: true) %>
                <% else %>
                <% if !post.image? && post.rel_link? %>
                <p>
                    <span class="feed-child-venue">Link to the website:</span>
                    <%= link_to post.rel_link , post.rel_link, remote: true %>
                </p>
                <% else %>
                <% if post.image? && !post.rel_link? %>
                <%= image_tag(post.image.url, alt: 'Image', class: 'image-uploaded image-center') %>
                <% end %>
                <% end %>
                <% end %>

                <p>
                    <span class="feed-child-venue">Date:</span>
                    <%= post.deadline %>
                </p>
                <p>
                    <span class="feed-child-venue venue-margin">Venue:</span>
                    <%= post.venue %>
                </p>


                <div class="feed-child-bottom">
                    <%=link_to like_post_path(post), method: :put, class: 'btn btn-default btn-sm' do %>
                    <span class="glyphicon glyphicon-chevron-up "></span>
                    like
                    <%=post.get_upvotes.size%>
                    </td>
                    <% end %>

                    <button class="btn btn-default btn-sm comment-btn">Comment</button>

                    <%= link_to "I'm interested", post_path(post.id), class: 'interested' %>
                    <!-- <div class="comment-div">fghgfdsfgx</div> -->
                </div>


            </div>
            <% end %>
        </div>

        <div class="infinite-scroll">
            <%= will_paginate @posts %>
        </div>

    </div>
</div>